*{
    margin: 0;
    padding: 0;
}
:root{
    --color-primario: #C1D8C3;
    --color-secundario: #3f2817;
    --color-terceario:#CD5C08;
    --color-hover: #6A9C89;
    --color-azul:#0A3871;
 }
body{
    background-color: var(--color-primario);
    box-sizing: border-box;
}

header{
    margin: 20px 0% 0% 0%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding:1em 0;
    background-color: transparent;
}
.titulo-cabecera{
    vertical-align: center;
    margin:0.1em auto;
    color: #0A3871;
    font-size: 2rem;
    font-weight: bold;
   
}
.logo-cabecera{
    left: 50%;
    top:8%;
}

.sectionone{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    gap:20px;
    height: 86vh;
}
.sectionone_primeraparte{
    display: flex;
    flex-direction: column;
    margin: 6% 0% 0% 15%;
    width: 50%;
    padding: 1%;
}
.textarea{
    resize: none;
    width: 100%;
    font-size: 32px;
    line-height: 150%;
    margin: auto;
    border: none;
    background-color: var(--color-primario);
}
.textarea::placeholder{
    color: rgb(14, 7, 29);
}
.textarea:focus,.textarea:active{
    border: none;
    outline: none;

}
.terminos{
    align-items: center;
    font-weight: 300;
    font-size: 1.5rem;
    color:rgb(16, 46, 73);
    opacity: 0.8;
    width: auto;
    padding-top: 3%;
    padding-bottom: 3%;

}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
    margin: 1%;
    width: 100%;
}

/*BOTONES DE ENVIAR*/
#botonencriptar, #desencriptar{
    padding: 3% 3% 3% 0;
    width:50%;
    border-radius: 24px;
    font-size: 2rem;
    color: var(--color-primario);
    text-align: center;
    border: none;
    border: 1px solid var(--color-azul);

}
#botonencriptar:hover,#desencriptar:hover {
    width: 25%;
    font-size: 1rem;
    margin: 0%;

}
#botonencriptar{
    background-color: var(--color-azul);
    color: var(--color-primario);
}
#desencriptar{
    background-color: var(--color-primario);
    color: var(--color-azul);
}
.sectiontwo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1.5% 15% 1.5% 0%;
    padding: 5%;
    text-align: center;
    border: 1px solid var(--color-hover);
    border-radius: 30px;
    width: 20%;
    height: 60vh;
   

}

.mensaje-encriptado{
    margin-top: 15%;
    padding: 10%;
    font-size: 1rem;

}
#muñeco{
    width: 100%;
    height: 50%;
}
footer{
    width: 100%;
    padding: 2%;
    text-align: center;
    background-color: var(--color-hover);
   }
.Copyright{ /*UNICODE PARA VER SIMBOLOS*/
    color: var(--color-azul);
    font-size: 14PX;
    padding: 10px;
}

/*RESPONSIVE DISEÑO*/
@media(max-width: 913px){
    header{
        margin: 0%;
        padding:1%;
        position:relative;
        width: 100%;
    }
    .titulo-cabecera{
        margin:0.1em auto;
        color: #0A3871;
        font-size: 1rem;
        font-weight: bold;
       
    }
    .logo-cabecera{
        left: 10%;
        top:8%;
    }
    .sectionone{
        width: 100%;
        flex-direction:column;
        align-items: center;
        margin: 0;

        }
        .sectionone_primeraparte{
            margin:40% 0 0 0;
            width: 90%;
            padding: 0%;
        }
        .botones{
            width: 80%;
            font-size: 0.5rem;
            margin: 0%;
            padding:0%;
            justify-content: center;
            
        }
        #botonencriptar, #desencriptar#desencriptar{
            width:50%;
            font-size: 1.5rem;
        }
        #botonencriptar:hover, #desencriptar:hover{
            width: 50%;
        }
        .terminos{
            width: 100%;
            padding:2% 0 4% 0;
            margin-right: 50%;
        }
        .sectiontwo{
            width: 70%;
            padding: 10%;
            margin: 2%;
            border: 1px solid var(--color-hover);

        }.mensaje-encriptado{
            margin: 2px;
            padding: 0;
            top:0.5%;
            height: 5%;
            width: 70%;
        }
        .sectiontwo img{
            width: 50%;
            top:0;
            display: none;
            visibility: hidden;
        }
        footer{
           display: none;
           visibility: hidden;

        }
    }
    @media(max-width: 375px){
        body{
            box-sizing: border-box;
        }
        
        header{
            margin: 0%;
            padding:1%;
            position:relative;
            width: 100%;
        }
        .titulo-cabecera{
            margin:0.1em auto;
            color: #0A3871;
            font-size: 1rem;
            font-weight: bold;
           
        }
        .logo-cabecera{
            left: 10%;
            top:8%;
        }
        .sectionone{
            width: 100%;
            margin:0%;
    
            }
            .sectionone_primeraparte{
                margin:0;
                width: 100%;
                padding: 0%;
            }
            .textarea{
                width: 95%;
                height: 60%;
                font-size: 1rem;
            }
            .botones{
                width: 90%;
                padding: 0%;
                margin: 0%;
                justify-content: center;
                
            }
            #botonencriptar, #desencriptar#desencriptar{
                width:50%;
                font-size: 1rem;
                
            }
            #botonencriptar:hover, #desencriptar:hover{
                width: 40%;
            }
            .terminos{
                width: auto;
                padding: 0% 0% 3% 3%;
                margin-right: 0%;
                font-size: 1rem;
            }
            .sectiontwo{
                width: auto;
                padding: 15%;
                margin-top: 0%;
                border: 1px solid var(--color-hover);

            }
        
            .mensaje-encriptado{
                margin: 1px;
                padding: 0;
                top:0.5%;
                height: 5%;
                width: 80%;
            }

        }