
    *{
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;
        line-height: 100%; 
    }
body{
    margin: 0;
    background-image: url("imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 15px;
    height: 90%; /*100%realtivo a la ventana*/
    text-align: center;
    max-width: 100%;
    border: none;
}
header{
    margin: 0;
    background: #7fffd461;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    width: 100%;
    max-width: 100%;
}
.titulo-cabecera{
    vertical-align: center;
    margin:10px auto;
    padding: 20px;
    color: #0A3871;
    font-size: 3rem;
    font-weight: bold;
   
}
.logo-cabecera{
    margin: 0;
}
main{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    min-height: 60vh;
    align-items: center;
    width: 100%;
    max-width: 100%;
   
  }
.sectionone{
    margin: 10px;
    padding: 10px;
    width: 100vh;
    min-height: 40vh;
    height: 70vh;
    justify-content: center;
    text-align: center;
}
.textarea{
    resize: none;
    width:90%;
    height: 40vh;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    background: #7fffd47a;
    object-fit: cover;
}
.informacion{
    margin:0 auto;
    font-weight: bold;
    font-size: 14px;
    color:rgb(88, 141, 187);
}
.botones{
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 5px;
    width:90%;
    height: 15vh;
    
}
/*BOTONES DE ENVIAR*/
#encriptar, #desencriptar{
    background: #ffc8003b;
    margin: 15px;
    padding: 15px;
    height: 7vh;
    width: 35vh;
    justify-content: center;
    border-radius: 20px;
    color:#0A3871;
    font-weight: bold; 
    font-size: 1em;
    border: none; 
}

#encriptar:hover{
    color:#ffffff;
    
}
#desencriptar:hover{
    color: #ffffff;
}
.sectiontwo{
    margin: 20px;
    padding: 20px;
    width: 60vh;
    min-height: 40vh;
    height: 70vh;
    justify-content: center;
    text-align: center;
 
}

.muñeco{
    height: 40vh;
}
#copiar{
    background:  #6dff00;
    margin: 15px;
    padding: 15px;
    height: 7vh;
    width: 35vh;
    justify-content: center;
    border-radius: 20px;
    color:#094549;
    font-weight: bold; 
    font-size: 1em;
    border: none; 
  
}
#copiar:hover{
    color: blanchedalmond;
   
    
}
footer{
    text-align: center;
    background: #262f9d1f;
    align-items: center;
    text-align: center;
    padding: 30px; /*paddin espaciamiento interno*/
   }
.Copyright{ /*UNICODE PARA VER SIMBOLOS*/
    color: #0A3871;
    font-size: 13PX;
    margin: 10PX; /*margin espaciamiento externo*/
}